/*------------------------------------------------------------------------------
  dark / light mode
------------------------------------------------------------------------------*/
body.light {
  --c-background: #fff;
  --c-borders:    #ddd;
  --c-text:       #000;
  --c-link:       #c66;
  --c-hover:      #933;
  --c-done:       #f99;
  --c-hilight:    #fee;
  --c-hover-light:#dff;
  --c-hover-text: #399;
}
body.dark {
  --c-background: #222;
  --c-borders:    #444;
  --c-text:       #ccc;
  --c-link:       #c66;
  --c-hover:      #f99;
  --c-done:       #933;
  --c-hilight:    #633;
  --c-hover-light:#033;
  --c-hover-text: #6cc;
}
body {
  font-family: 'Ubuntu', sans-serif;
  color: var(--c-text);
  background-color: var(--c-background);
}
/*------------------------------------------------------------------------------
  layout
------------------------------------------------------------------------------*/
.row {
  margin: 0px;
}
.section {
  overflow: auto;
  padding: 15px;
  display: block;
}
#main {
  border-left: 5px solid var(--c-borders);
}
#main .section {
  border-top: 15px solid var(--c-borders);
}
h1 {
  margin: 0px;
}
.title {
  background-color: var(--c-borders);
}
#navtags {
  padding-top: 20px;
  padding-bottom: 20px;
}
#extras {
  padding-top: 5px;
  padding-bottom: 5px;
}
#extras .icon-div {
  cursor: pointer;
  background-color: var(--c-borders);
  color: #999;
}
/*------------------------------------------------------------------------------
  hover tips
------------------------------------------------------------------------------*/
.tip .tiptext {
  display: none;
  z-index: 1;
  position: absolute;
  white-space: nowrap;
}
.tip:hover .tiptext {
  display: block;
  background-color: inherit;
}
/*------------------------------------------------------------------------------
  serving size
------------------------------------------------------------------------------*/
input[type=number] {
  font: inherit;
  color: inherit;
  background: inherit;
  border: none;
  width: 40px;
}
input[type=number]::-webkit-inner-spin-button {
  opacity: 0.6;
}
/*------------------------------------------------------------------------------
  links
------------------------------------------------------------------------------*/
a {
  color: var(--c-link);
  text-decoration: none;
}
a:hover {
  color: var(--c-hover);
  cursor: pointer;
}
/*------------------------------------------------------------------------------
  collapse sections
------------------------------------------------------------------------------*/
.hidden {
  display: none;
}
.collapse-button:before {
  font-size: 25px;
  font-family: FontAwesome;
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 0px;
  color: var(--c-text);
}
.collapse-button:before {
  left: 0px;
  content: '\f107';
}
.collapse-button.closed:before {
  left: 5px;
  content: '\f105';
}
a h2 {
  margin-left: 30px;
  display: inline-block;
  margin-top: 0px;
  color: var(--c-text);
}
a h1:hover, a h2:hover, a h3:hover {
  color: var(--c-hover);
  cursor: pointer;
}
.collapse-button:hover:before {
  color: var(--c-hover);
}
/*------------------------------------------------------------------------------
  tables
------------------------------------------------------------------------------*/
table {
  margin: 15px 0px;
  width: 100%;
  border-collapse: collapse;
}
tr {
  margin: 10px;
  border-top:    1px solid var(--c-borders);
  border-bottom: 1px solid var(--c-borders);
}
th, td {
  padding: 5px;
  vertical-align: top;
}
/* arrangement */
#overview {
  margin-right: 20px;
}
#overview td:nth-child(1) {
  width: 100px;
}
#overview td:nth-child(2) {
  text-align: left;
}
#recipe td {
  line-height: 140%;
}
#recipe td:nth-child(1) {
  text-align: right;
}
#steps td:nth-child(1) {
  padding-left: 20px;
}
#ingredients td:nth-child(1) {
  width: 80px;
}
/* click-able rows */
.rowclick tr:hover {
  color: var(--c-hover);
  cursor: pointer;
}
.rowclick tr.selected {
  color: var(--c-done);
}
/* steps hover */
#steps tr .tip {
  padding: 2px;
}
#steps tr:hover .tip {
  position: relative;
  background-color: var(--c-hilight);
}
#steps tr .tip:hover,
#steps tr .tip .tiptext {
  background-color: var(--c-hover-light);
  color: var(--c-hover-text);
}
#steps tr .tip .tiptext {
  padding: 2px;
  bottom: 100%;
  left: 0%;
}
/*------------------------------------------------------------------------------
  tags & icons
------------------------------------------------------------------------------*/
.icon-div {
  width: 19%;
  padding: 2%;
  margin: 1%;
  display: inline-block;
  text-align: center;
}
.icon {
  width: 100%;
  max-width: 36px;
}
.breakfast   { background-color: #963; }
.snack       { background-color: #fb0; }
.dessert     { background-color: #c3f; }
.fish        { background-color: #69c; }
.meat        { background-color: #c30; }
.veggie      { background-color: #3c6; }
.vegan       { background-color: #9e3; }
.gluten-free { background-color: #666; }
#navtags .icon-div {
  opacity: 0.75;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#navtags .icon-div:hover {
  cursor: pointer;
  opacity: 1.0;
}
#navtags .icon-div.toggle-on {
  background-image: url('../icon/toggle-on.png');
}
#navtags .icon-div.toggle-off {
  background-image: url('../icon/toggle-off.png');
}
#navtags .icon-div.toggle-on img,
#navtags .icon-div.toggle-off img {
  opacity: 0.5;
}
#tags {
  margin-bottom: 40px;
}
#tags .icon-div {
  float: right;
}
.icon-div.tip:hover .tiptext {
  color: #fff;
  margin-left: -2%;
  margin-top: 3%;
  padding: 5px;
}
#extras .icon-div.tip:hover .tiptext {
  color: #999;
}
/*------------------------------------------------------------------------------
  home page cards
------------------------------------------------------------------------------*/
.card-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  vertical-align: middle;
  cursor: pointer;
}
.card-item > .overlay {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  font-size: 150%;
  background-color: var(--c-background);
  opacity: 0.8;
  visibility: hidden;
  color: var(--c-text);
}
.card-item:hover > .overlay {
  visibility: visible;
}
.card-img {
  margin: 5px;
}
