/*------------------------------------------------------------------------------
  main
------------------------------------------------------------------------------*/
body {
  font-family: 'Ubuntu', sans-serif;
}
body.light {
  background-color: #fff;
}
body.dark {
  background-color: #333;
}
/*------------------------------------------------------------------------------
  layout
------------------------------------------------------------------------------*/
.row {
  margin: 0px;
}
.section {
  overflow: auto;
  padding: 15px;
  display: block;
}
#recipe {
  border-left: 5px solid #eee;
}
#recipe .section {
  border-top: 15px solid #eee;
}
h1 {
  margin: 0px;
}
/*------------------------------------------------------------------------------
  hover tips
------------------------------------------------------------------------------*/
.tip .tiptext {
  visibility: hidden;
  z-index: 1;
  position: absolute;
  white-space: nowrap;
}
.tip:hover .tiptext {
  visibility: visible;
}
/*------------------------------------------------------------------------------
  serving size
------------------------------------------------------------------------------*/
input[type=number] {
  font: inherit;
  border: none;
  width: 40px;
}
input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}
/*------------------------------------------------------------------------------
  links
------------------------------------------------------------------------------*/
a {
  color: #c66;
  text-decoration: none;
}
a:hover {
  color: #933;
  cursor: pointer;
}
/*------------------------------------------------------------------------------
  collapse sections
------------------------------------------------------------------------------*/
.hidden {
  display: none;
}
.collapse-button:before {
  color: #000;
  font-size: 25px;
  font-family: FontAwesome;
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 0px;
}
.collapse-button:before {
  left: 0px;
  content: '\f107';
}
.collapse-button.closed:before {
  left: 5px;
  content: '\f105';
}
a h2 {
  margin-left: 30px;
  display: inline-block;
  margin-top: 0px;
  color: #000;
}
a h1:hover, a h2:hover, a h3:hover {
  color: #933;
  cursor: pointer;
}
/*------------------------------------------------------------------------------
  tables
------------------------------------------------------------------------------*/
table {
  margin: 15px 0px;
  width: 100%;
  border-collapse: collapse;
}
tr {
  margin: 10px;
  border-top:    1px solid #eee;
  border-bottom: 1px solid #eee;
}
th, td {
  padding: 5px;
  vertical-align: top;
}
/* arrangement */
#overview {
  margin-right: 20px;
}
#overview td:nth-child(1) {
  width: 100px;
}
#overview td:nth-child(2) {
  text-align: left;
}
#recipe td {
  line-height: 140%;
}
#recipe td:nth-child(1) {
  text-align: right;
}
#steps td:nth-child(1) {
  padding-left: 20px;
}
#ingredients td:nth-child(1) {
  width: 80px;
}
/* click-able rows */
.rowclick tr:hover {
  color: #c66;
  cursor: pointer;
}
.rowclick tr.selected {
  color: #fcc;
}
/* steps hover */
#steps tr .tip {
  padding: 2px;
}
#steps tr:hover .tip {
  position: relative;
  background-color: #fee;
}
#steps tr .tip:hover {
  background-color: #dff;
  color: #399;
}
#steps tr .tip .tiptext {
  background-color: #dff;
  color: #399;
  padding: 2px;
  bottom: 100%;
  left: 0%;
}
/*------------------------------------------------------------------------------
  tags (icons)
------------------------------------------------------------------------------*/
.icon-div {
  width: 14%;
  padding: 2%;
  margin: 1%;
  display: inline-block;
  text-align: center;
}
.icon {
  width: 100%;
  max-width: 48px;
}
.icon-div.breakfast { background-color: #c90; }
.icon-div.dessert   { background-color: #c3f; }
.icon-div.fish      { background-color: #69c; }
.icon-div.meat      { background-color: #c63; }
.icon-div.veggie    { background-color: #0c6; }
#navtags {
  padding-bottom: 20px;
}
#tags .icon-div {
  float: right;
}
