body {
  font-family: 'Ubuntu', sans-serif;
  margin: 50px auto;
  width: 500px;
}
table {
  border-collapse: collapse;
  width: 500px;
}
th, td {
  padding: 8px;
  /* border-bottom: solid 1px #ddd;
  border-top: solid 1px #ddd; */
  vertical-align: top;
}
img {
  margin-top: 30px;
  width: 500px;
}
.rowclick {
  position: relative;
}
.rowclick tr {
  cursor: pointer;
}
.rowclick tr.selected {
  color: #999;
}
.rowclick tr.selected :nth-child(2) {
  text-decoration-line: line-through;
}
#overview td:nth-child(1) {
  width: 100px;
}
#overview td:nth-child(2) {
  text-align: left;
}
.rowclick  td:nth-child(1) {
  text-align: right;
}
#ingredients td:nth-child(1) {
  width: 80px;
}
